body {
    margin: 0;
    padding: 0;
    border: none;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: pink;
    font-size: 48px;
    font-family: serif;
    font-weight: 500;
}

.header {
    font-size: 24px;
    line-height: 1.0;
    margin-top: 0;
    margin-bottom: 0;
    
    margin-right: auto;
    width: 316px;
    text-align: center;
    
    border: solid 4px black;
    border-bottom: 0;
    
    background-color: red;
    color: white;
    font-family: "Open Sans", sans-serif;
}

 #input-box {
    resize: none;
    font-family: monospace;
}

#output-box, #input-box {
    width: 300px;
    height: 200px;
    background-color: dimgray;
    border: solid 4px black; 
    padding: 8px;
    color: white;
    
    white-space: pre-line;
}

#content-holder {  
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.button {
    font-size: 20px;
    background-color: red;
    color: white;
    border: solid 2px black;
    font-family: "Open Sans", sans-serif;
}

.button:active {
    background-color: green;
}

#action-bar {
    width: 324px;
    display: flex;
    justify-content: space-between;
}

#bottom-content-holder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 16px;
}

#popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.3);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup-header {
    padding: 8px;
    display: flex;
    
    background-color: pink;
    width: 100%;
    max-width: 350px;
    height: 24px;
    
    justify-content: space-between;
    align-items: center;
}

#popup-header-title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
}


#popup-close-button {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

#popup-container {
    padding: 8px;
    background-color: #ffffff;

    max-width: 350px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

#popup-text {
    margin: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

/* TODO: 
 * Maybe do something smarter for the settings popup.
 * At the very least, tidy up this code a little bit.*/


#settings-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.3);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#settings-popup-header {
    padding: 8px;
    display: flex;
    
    background-color: pink;
    width: 100%;
    max-width: 350px;
    height: 24px;
    
    justify-content: space-between;
    align-items: center;
}

#settings-popup-header-title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
}


#settings-popup-close-button {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

#settings-popup-container {
    padding: 8px;
    background-color: #ffffff;

    max-width: 350px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

#settings-popup-text {
    margin: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.bottom-content-item {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 720px) {
    #content-holder {
        flex-direction: column;
        flex-flow: wrap;
    }
    
    #bottom-content-holder {  
        margin-left: auto;
        margin-right: auto;
        
        width: 300px;
    }
}

.span-bold {
    font-weight: 700;
}

.span-newline {
    display: block;
}

#logo {
    width: 32px;
    height: 32px;
    
    margin-left: auto;
    margin-right: auto;
    
    display: block;
}

#action-bar-2 {
    margin-top: 4px;
    
    width: 324px;
    display: flex;
    justify-content: flex-end;
}

