body {
    margin: 0;
    padding: 0;
    border: none;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: pink;
    font-size: 48px;
    font-family: serif;
    font-weight: 500;
}

.header {
    font-size: 24px;
    line-height: 1.0;
    margin-top: 0;
    margin-bottom: 0;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    border: solid 3px black;
    border-bottom: 0;
    
    background-color: red;
    color: white;
    font-family: "Open Sans", sans-serif;
}

 #input-box {
    resize: none;
    font-family: monospace;
}

#output-box, #input-box {
    width: 300px;
    height: 200px;
    background-color: dimgray;
    border: solid 3px black; 
    padding: 8px;
    color: white;
    
    white-space: pre-line;
}

#content-holder {  
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.button {
    font-size: 20px;
    background-color: red;
    color: white;
    border: solid 2px black;
    font-family: "Open Sans", sans-serif;
}

.button:active {
    background-color: green;
}

#action-bar {
    display: flex;
    justify-content: space-between;
}

#bottom-content-holder {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.3);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup-header {
    padding: 8px;
    display: flex;
    
    background-color: pink;
    width: 100%;
    max-width: 500px;
    height: 24px;
    
    justify-content: space-between;
    align-items: center;
}

#popup-header-title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
}


#popup-close-button {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
}

#popup-container {
    padding: 8px;
    background-color: #ffffff;

    max-width: 500px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    
}

#popup-text {
    margin: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    
}




