body {
    margin: 0;
    padding: 0;
    border: none;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: pink;
    font-size: 48px;
}

.header {
    font-size: 24px;
    line-height: 1.0;
    margin-top: 0;
    margin-bottom: 0;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    border: solid 3px black;
    border-bottom: 0;
    
    background-color: red;
    color: white;
    font-family: sans-serif;
}

 #input-box {
    resize: none;
    font-family: monospace;
}

#output-box, #input-box {
    width: 300px;
    height: 200px;
    background-color: dimgray;
    border: solid 3px black; 
    padding: 8px;
    color: white;
    
    white-space: pre-line;
}

#content-holder {  
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.button {
    font-size: 20px;
    background-color: red;
    color: white;
    border: solid 2px black;
    font-family: sans-serif;
}

.button:active {
    background-color: green;
}

#action-bar {
    display: flex;
    justify-content: space-between;
}

#bottom-content-holder {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


